[submodule "leagify/themes/ananke"]
	path = leagify/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "leagify/public"]
	path = leagify/public
	url = https://github.com/Leagify/leagify.github.io.git
	branch = master
